:root {
  --off-white: #fafafa;
}

@font-face {
  font-family: 'MontserratAlternates';
  src: url('./Components/Fonts/MontserratAlternates-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMedium';
  src: url('./Components/Fonts/Roboto-Medium.ttf') format('truetype');
}

h1 {
  font-size: 36px;
  color: #114A75;
}

#section4 h1 {
  padding-bottom: 40px;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 18px;
}

img {
  padding-right: 3px;
  padding-left: 3px;
  object-fit: contain;
}

.circle {
    background-color:#f4efde;
    border:4px solid #f4efde;
    height:180px;
    border-radius:50%;
    border-radius:50%;
    border-radius:50%;
    width:180px;
}

img.logo {
  width: 20px;
  height: auto;
  margin-bottom: -3px;
}

img.xsmall{
  width: 100px;
  height: auto;
}
img.small{
  width: 250px;
  height: auto;
}
img.medium{
  width: 250px;
  height: auto;
}

/*when screen is small size*/
.nav {
  font-family: 'MontserratAlternates', Arial, sans-serif;
  font-size: 14px;
  background-color: var(--off-white);
  opacity: 0.5;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
  border-radius: 60px;

  position: sticky;
  width: 5.8rem;
  position: fixed;
  z-index: 1000;
  margin-top: 280px;
  margin-left: 10px;
}

.nav-logo {
  height: 40px;
  width: 40px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 950px;
  padding: 0 0 0 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
  margin-top: 0px;
}

.nav-item {
  list-style: none;
  margin-right: 0rem;
  padding: 8px 8px 8px 8px;
  color: #F16F6F;
  font-weight: bold;
  text-align: center;
}

ul {
  padding-inline-start: 0px;
}

a-href{
  top: 0;
  bottom: 0;
}
.nav-item:hover {
  color: black;
  cursor: pointer;
}

/*normal screen size*/
@media only screen and (min-width:900px) {
  .nav {
    font-family: 'MontserratAlternates', Arial, sans-serif;
    font-size: 18px;
    background-color: var(--off-white);
    border-radius: 0px;
    opacity: 0.8;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 60px;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
    margin-top: 0px;
    margin-left: 0px;
  }

  .nav-logo {
    height: 40px;
    width: 40px;
  }

  .nav-logo:hover {
    cursor: pointer;
  }

  .nav .nav-content {
    max-width: 950px;
    padding: 0rem 0rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .nav-item {
    display: inline;
    margin-right: 1rem;
    color: #F16F6F;
  }

  .nav-item:hover {
    color: black;
    cursor: pointer;
  }

}

.background-img {
  background-image: url("background-img.png");
  font-family: 'MontserratAlternates', Arial, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  max-width: 115%;
  width: 1440px;

  color: white;
  overflow: hidden;

  margin: 0 auto;

  text-align: center;
}

.topSquiggle {
  display: flex;
  margin: auto;
  margin-left: 40%;
  max-width: 100%;
  height: auto;
  float: right;
}

.bottomSquiggle {
  display: flex;
  margin: auto;
  max-width: 100%;
  height: auto;
  float: left;
  margin-top: 35px;
}

.main-section {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 100px;
  padding-right: 100px;
  text-align: center;
}

.main-button {
  font-family: 'MontserratAlternates', Arial, sans-serif;
  border-radius: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  justify-content: center;

}

.col-bt {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.main-button-hacker {
  background-color: #6297C1
}

.main-button-mentor {
  background-color: #F7A3A3
}

.main-button-newsletter {
  background-color: #f2e2a4;

}
.main-date {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-top: -40px;
}

.main-date-text {
  font-size: 32px;
  margin-left: 10px;
  margin-right: 10px;
}

.main-title {
  color: white;
  font-size: 64px;
  padding-bottom: 0px;
}

@media only screen and (min-width:630px) {

  .main-title {
    font-size: 96px;
  }

  .main-date-text {
    font-size: 36px;
  }

  .main-button {
    font-size: 26px;
  }

  .background-img {
    max-width: 100%;
    width: 1440;
  }

}


.section-content {
  font-family: 'MontserratAlternates', Arial, sans-serif;
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 30px 40px 30px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

.introduction {
  margin: 0 auto;
  padding: 150px;
}

.intro-content-top {
  display: flex;
  margin-bottom: 100px;
}

.intro-image {
  max-width: 501px;
  max-height: 489px;
  min-width: 280px;
  width: 100%;
  height: auto;
  display: block;
  padding-right: 40px;
}

.intro-text {
  font-family: 'RobotoMedium', Arial, sans-serif;
  color: #114A75;
  line-height: 30px;
}

.intro-text-div {
  padding: 0px 20px 0px 0px;
  text-align: center;

}

.intro-content-bottom {
  font-family: 'MontserratAlternates', Arial, sans-serif;
  color: #114A75;
  display: flex;
  flex-direction: column;
  text-align: center
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: 15px;
  margin-left: 0px;
  box-sizing: border-box;
}

.row-sched {
  display: flex;
  flex-wrap: wrap;
  margin-right: -35px;
  margin-left: -35px;
  box-sizing: border-box;
}

.row:after, .row-sched:after, .faq-row:after {
  content: "";
  display: table;
  clear: both;
}

.col-lg {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 0px;
  padding-bottom: 10px;
  box-sizing: border-box;
}

.col-sched {
  display: inline-flex;
  width: 50%;
  padding-left: 70px;
  box-sizing: border-box;
  padding-bottom: 10px;
  text-align: right;
}

.box {
  padding-top: 10px;
  height: 40px;
  background: #F16F6F;
  border-radius: 50px;
}

.value {
  flex: 33.33%;
  padding: 25px;
}

.value-image {
  margin-bottom: 25px;
}

.list-values {
  display: flex;
  flex-direction: row;
}

.intro-content-values {
  color: #114A75;
  text-align: center;
}

.value-text {
  font-family: 'RobotoMedium', Arial, sans-serif;
  line-height: 30px;
  text-align: left;
  padding-left: 10px;
}

.schedule-title {
  font-family: 'RobotoMedium', Arial, sans-serif;
  letter-spacing: 1px;
  margin-top: 5px;
}
