.contact {
  font-family: 'MontserratAlternates', Arial, sans-serif;
  color: #114A75;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 50px;
  letter-spacing: 1px;
}

.contact-spacing {
  magin-top: 100px;
  margin-bottom: 50px
}

.contact-headline {
  font-family: 'RobotoMedium', Arial, sans-serif;
  font-size: 18px;

}

.contact-button {
  background-color: #F16F6F;
  font-family: 'RobotoMedium', Arial, sans-serif;
  max-width: 180px;
  margin-top: 30px;
  font-size: 18px;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  vertical-align: middle;
}



.faq-button {
  background-color: #F16F6F;
  border-radius: 50px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}



.faq-rotation {
  transform: rotateZ(180deg);
  transform-origin: center center
}

.faq-question {
  color: white;
  font-size: 15px;
  padding: 5px;
  text-align: left;
  padding-left: 40px;
}

.faq-answer {
  margin-top: 20px;
  line-height: 35px;
  font-family: 'RobotoMedium', Arial, sans-serif;
  font-size: 15px;
}

.faq-row {
  display: flex
}

.faq-col {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.last-faq {
  align-self: center
}

.faq-entry {
  align-self: flex-start;
}
